{% extends 'base.html.twig' %}

{% block title %}Prepack List{% endblock %}

{% block content %}
  <h1 class="mb-4">Prepack List</h1>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="dateFilter">Filter by Creation Date:</label>
      <input type="date" id="dateFilter" class="form-control">
    </div>
    <div class="col-md-6">
      <label for="trackingFilter">Filter by Tracking:</label>
      <input type="text" id="trackingFilter" class="form-control">
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Image</th>
      <th>Tracking</th>
      <th>Creation Date</th>
      <th>N Pack</th>
      <th>Pack Type</th>
      <th>Weight</th>
    </tr>
    </thead>
    <tbody>
    {% for prepack in prepacks %}
      <tr>
        <td>
          {% if prepack.image is not null %}
            <img src="{{ asset('path_to_images/' ~ prepack.image) }}" alt="Image" width="50">
          {% else %}
            No Image
          {% endif %}
        </td>
        <td>{{ prepack.tracking }}</td>
        <td>{{ prepack.creationdate|date('Y-m-d H:i:s') }}</td>
        <td>{{ prepack.npack }}</td>
        <td>{{ prepack.packtype }}</td>
        <td>{{ prepack.weight }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
