{# templates/prepack/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Prepack List{% endblock %}

{% block content %}
  <h1 class="mb-4">Prepack List</h1>

  <div class="row mb-3">
    <div class="col-md-6">
      <form action="{{ path('prepacks_list') }}" method="get">
        <label for="dateFilter">Filter by Creation Date:</label>
        <input type="date" id="dateFilter" name="dateFilter" class="form-control" value="{{ app.request.query.get('dateFilter') }}">
    </div>
    <div class="col-md-6">
      <label for="trackingFilter">Filter by Tracking:</label>
      <input type="text" id="trackingFilter" name="trackingFilter" class="form-control" value="{{ app.request.query.get('trackingFilter') }}">
    </div>
    <div class="col-md-12 mt-2">
      <button type="submit" class="btn btn-primary">Apply Filters</button>
      <a href="{{ path('prepacks_list') }}" class="btn btn-secondary">Reset Filters</a>
      </form>
    </div>
  </div>

  <!-- Add records per page input -->
  <div class="row mb-3">
    <div class="col-md-1 offset-md-11 text-right">
      <label for="recordsPerPage" class="small-text">Rows:</label>
      <input type="text" id="recordsPerPage" name="recordsPerPage" class="form-control small-input" value="{{ app.request.query.get('recordsPerPage') }}">
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Image</th>
      <th>Tracking</th>
      <th>Creation Date</th>
      <th>N Pack</th>
      <th>Pack Type</th>
      <th>Weight</th>
    </tr>
    </thead>
    <tbody>
    {% for prepack in prepacks %}
      <tr>
        <td>
          {% if prepack.image is not null %}
            <img src="{{ asset('https://multitrack.trackingpremium.us/packimages/' ~ prepack.image) }}" alt="Image not available" width="50">          {% else %}
            No Image
          {% endif %}
        </td>
        <td>{{ prepack.tracking }}</td>
        <td>{{ prepack.creationdate|date('Y-m-d H:i:s') }}</td>
        <td>{{ prepack.npack }}</td>
        <td>{{ prepack.packtype }}</td>
        <td>{{ prepack.weight }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <!-- Pagination links -->
  <div class="pagination justify-content-center">
    {{ knp_pagination_render(prepacks) }}
  </div>

{% endblock %}

{% block javascripts %}
  <script>
    $(document).ready(function() {
      $('#recordsPerPage').keydown(function(event) {
        if (event.keyCode === 13) {
          let recordsPerPageValue = $('#recordsPerPage').val();
          window.location.href = "{{ path('prepacks_list') }}" + "?recordsPerPage=" + recordsPerPageValue;
        }
      });
    });
  </script>
{% endblock %}
